.project
.settings
*/.settings
*/.project
*/.idea
.classpath
*.iml
.idea/
target/
ideaproj/
*.log
*/bin
.DS_Store
*.ipr
*.iws
bin/
nbproject/
.springBeans
/log/
*.factorypath
albatross-mall-microservice/src/main/java/com/lesports/albatross/mall/data/entity/ErrorInfo.java.rej
